h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 12vw;
}

body,
html {
    height: 85%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
